html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgba(42, 42, 42, .85);
    background-color: rgba(242, 242, 242, .98);
    overflow-x: hidden;
}

body {
    font-size: 13pt;
}

a {
    text-decoration: none;  
    color: #FFAB00;
}

a:hover,
a:active {
    color: #FFC400;
    text-decoration: underline;
}

header {
    width: 100%;
    min-height: 300px;
    max-height: 650px;
    background-color: #EEEEEE; 
    overflow: hidden;
    z-index: 0;
}

header .wrapper {
    width: 80%;
    padding: 10%;
    position: absolute;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

header .wrapper #title {
    font-family: "Passion One";
    font-weight: 700;
    font-size: 64pt;
    text-shadow: -1px 1px rgba(60, 60, 60, .45);
    letter-spacing: 3pt;
    margin-top: 5%;
}

header .wrapper #buttons {
    margin-top: 8%;
}

header .wrapper #buttons a {
    display: inline-block;
    margin: 6pt 10pt 6pt 10pt;
    padding: 8pt 10pt 8pt 10pt;
    text-decoration: none;
    background-color: #FFAB00;
    border-radius: 3px;
    font-size: 15pt;
    font-weight: 300;
    color: #FAFAFA;
    transition: background-color .4s;
}

header .wrapper #buttons a:hover,
header .wrapper #buttons a:active {
    background-color: #FFC400;
}

header #banner {
    overflow: hidden;
}

header #banner img {
    margin-top: -15%;
    margin-left: -10%;
    width: 180%;
    height: auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: .8;
    z-index: 0;
}

.card {
    width: 84%;
    padding: 4% 8% 4% 8%;
    z-index: 2;
}

.card.dark {
    background-color: rgba(42, 42, 42, .85) !important;
    color: rgba(242, 242, 242, .98) !important;
/*    box-shadow: 0px 3px 20px #BDBDBD;*/
}

.card.light {
    background-color: inherit;
    color: inherit;
    box-shadow: 0px 8px 1px 20px #EEE;
}

.card p {
    padding-left: 15pt;
    text-indent: 6pt;
    width: 80%;
}

#gigs {
    box-shadow: 0px -3px 20px #BDBDBD;
}

footer {
    font-size: 8pt;
}

@media screen and (max-width: 750px) {
    header .wrapper #buttons a {
        margin-top: 15pt;
        margin-bottom: 15pt;
    }
}